## Connection and Select and Insert

In [42]:
import pymysql

In [43]:
conn = pymysql.connect(
    host='localhost',         # 資料庫伺服器位址
    user='root',     # 用戶名
    password='password', # 密碼
    database='TESTDB', # 資料庫名稱
    port=3306,                # 預設埠號
    charset='utf8mb4'         # 字元編碼
)
print("connect!")

connect!

In [ ]:
# 連線sql的游標
cursor = conn.cursor()
print("cursor connect")

In [ ]:
# 試著 INSERT 一筆資料
# 注意 TABLE 欄位的資料型態

# 先寫好 SQL 語法
sql = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES ('001', 'Mike', '002', 45, 'M', 60000, '2020-04-24 14:59:57');
"""

# 將指令放進 cursor 物件，並執行
cursor.execute(sql)

In [ ]:
# 將資料傳送到sql裡面 SQL transaction
conn.commit()

In [ ]:
select_sql = """
SELECT 
    ID,
    Name,
    DeptId,
    Age,
    Gender,
    Salary,
    recordDt
FROM Staff
"""
cursor.execute(select_sql)

In [ ]:
data = [row for row in cursor.fetchall()]
# fechall 全部
# fechmany 部分
# fechone 只取一個
data

[]

In [ ]:
# 再讀一次的話就會把東西是放出去不會再處理
# cursor.fetchall()

()

In [47]:
cursor.close()
conn.close()

## Insert many

In [46]:
# 先寫好 SQL 語法
# 並將語法中會不斷改變的部分挖空 ( %s )
sql_insert = """
INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
VALUES (%s, %s, %s, %s, %s, %s, %s);
"""

values = [
 ('002', 'Judy', '002', '30', 'F', '48000', '2020-10-13 21:41:49'),
 ('003', 'Allen', '001', '22', 'M', '50000', '2020-10-13 21:41:49'),
 ('004', 'Tom', '002', '47', 'M', '47000', '2020-10-13 21:41:49'),
 ('005', 'Jack', '003', '36', 'M', '52000', '2020-10-13 21:41:49'),
 ('006', 'Abby', '002', '24', 'F', '45000', '2020-10-13 21:41:49'),
 ('007', 'Trump', '001', '80', 'M', '80000', '2020-10-13 21:41:49'),
 ('008', 'Marry', '003', '29', 'F', '87000', '2020-10-13 21:41:49')]

cursor.executemany(sql_insert, values)

conn.commit()

## Try Except

In [ ]:
from pymysql.err import IntegrityError, InternalError
def insertData(host='localhost', port=3306, user='root', passwd='root', db='TESTDB', charset='utf8mb4'):
    effectedRow = -1
    
    try:
        conn = pymysql.connect(host=host, port=port, user=user, passwd=passwd, db=db, charset=charset)
    except RuntimeError as e:
        print(e)
        return -1
    except InternalError as e:
        print(e)
        return -1

    cursor = conn.cursor()

    sql_insert = """
    INSERT INTO Staff (ID, Name, DeptId, Age, Gender, Salary, recordDt)
    VALUES ('001', 'Mike', '002', '45', 'M', '60000', '2020-04-29 21:04:52');
    """

    try:
        effectedRow = cursor.execute(sql_insert)
    except IntegrityError as e:
        sql_delete = """DELETE FROM Staff WHERE ID = '001';"""
        cursor.execute(sql_delete)
        effectedRow = cursor.execute(sql_insert)
    except:
        pass
    finally:
        conn.commit()
        cursor.close()
        conn.close()
    return effectedRow